.heading{
    width:100%;
    text-align:left;
    font-family: 'Nabla', cursive;
    font-size: 100px;
}

.heading h3{
    display:inline;
}

.heading button{
    float:right;
    border: 1px solid black;
    font-size:30px;
    margin-top:45px
}

.big_image
{
    width:100%;
}
.btn-grad {
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
    margin:0;
    padding-bottom:25px;
    padding-left:15px;
    padding-right: 15px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

           
         
  .btn-grad2 {
    background-image: linear-gradient(to right, #55da6b 0%, #85c4ff  51%, #55da6b  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
 
 
  #start
  {
    font-size: 35px;
    font-family: 'Bungee Spice', cursive;
  }

  #status
  {
    font-size:25px;
    font-family: 'Rubik Dirt', cursive;
    border: 3px solid black;
  }

  h4, h2
  {
    background-color:#48cc44;
    line-height: 2;
    margin:0px;
    font-family: 'Silkscreen', cursive;
    font-size:25px;
    font-weight:bold;
  }

  .modal-dialog
  {
      width:90%;
  }

  .instruction_image
  {
    display:inline-block;
    width:45%;
  }

  video{
    background:url('game_console.png');
    background-size:cover;
    background-position: center;
    padding: 25px;
  }